<div class="row">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
      <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Gestion</a></li>
      <li class="breadcrumb-item text-sm text-dark active" aria-current="page">Materieaux</li>
    </ol>
    <h2 class="font-weight-bolder mb-0">Materiel</h2>
  </nav>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="card mt-2">
      <div class="card-body">
        <form (ngSubmit)="onSubmit()" method="post">
          <div class="row">
            <div class="mb-3 col-6">
              <label>Nom du materiel :</label>
              <input type="text" [(ngModel)]="materiel.nom" class="form-control" name="nom" placeholder="Nom du Materiel" >
            </div>
            <div class="mb-3 col-6">
              <label>Marque :</label>
              <input type="text" [(ngModel)]="materiel.marque" class="form-control" name="marque" placeholder="Marque du materiel" >
            </div>
            <div class="mb-3 col-6">
              <label>Numero de serie :</label>
              <input type="text" [(ngModel)]="materiel.numeroSerie" class="form-control" name="numero" placeholder="Numero de Serie" >
            </div>
            <div class="mb-3 col-6">
              <label>Prix :</label>
              <input type="text" [(ngModel)]="materiel.prix" class="form-control" name="prix" placeholder="Prix" >
            </div>
            <div class="mb-3 col-6">
              <label>Fournisseur :</label> <!-- Verifier le ngModel -->
              <select class="form-select" aria-label="Default select example" [(ngModel)]="materiel.prix" name="fournisseur" id="fournisseur">
                <option *ngFor="let four of fournisseurs" value="{{four.id}}">{{four.nom}}</option>
              </select>
            </div>
          </div>
          <div class="text-center">
            <button type="submit" class="btn btn-warning mt-4 mb-0">Ajouter</button>
          </div>
        </form>
      </div>
    </div>
</div>
</div>

<div class="row mt-3">
  <div class="col-12">
    <div class="card mb-4">
      <div class="card-header pb-0">
        <h2>Liste des Materieaux</h2>
      </div>
      <div class="card-body px-0 pt-0 pb-2">
        <div class="table-responsive p-0">
          <table class="table align-items-center mb-0">
            <thead>
            <tr>
              <th class="text-uppercase text-gradient text-dark text-xs font-weight-bolder jus ">Id</th>
              <th class="text-uppercase text-gradient text-dark text-xs font-weight-bolder ps-2">Nom</th>
              <th class="text-uppercase text-gradient text-dark text-xs font-weight-bolder ps-2">Marque</th>
              <th class="text-uppercase text-gradient text-dark text-xs font-weight-bolder ps-2">Numero de serie</th>
              <th class="text-uppercase text-gradient text-dark text-xs font-weight-bolder ps-2">Prix</th>

              <th class="text-uppercase text-gradient text-dark text-xs font-weight-bolder ps-2">Modifier</th>
              <th class="text-uppercase text-gradient text-dark text-xs font-weight-bolder ps-2">Supprimer</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let mat of materieaux">
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <p>{{mat.id}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <p>{{mat.nom}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <p>{{mat.marque}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <p>{{mat.numeroSerie}}</p>
                  </div>
                </div>
              </td>
              <td>
                <div class="d-flex px-2 py-1">
                  <div class="d-flex flex-column justify-content-center">
                    <p>{{mat.prix}}</p>
                  </div>
                </div>
              </td>
              <td>
                <button type="button" (click)="btnModifier(mat.id)" class="btn btn-success me-2" data-bs-toggle="modal" data-bs-target="#exampleModal">Modifier</button>
              </td>
              <td>
                <button mat-raised-button color="warn" (click)="deleteMateriel(mat.id)" class="btn btn-warning btn-sm">Supprimer</button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Modifier Materiel</h3>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="row">
            <div class="mb-3 col-6">
              <label>Nom du materiel</label>
              <input type="text" [(ngModel)]="materielModifier.nom" class="form-control" name="nom" placeholder="Nom du Materiel" >
            </div>
            <div class="mb-3 col-6">
              <label>Marque</label>
              <input type="text" [(ngModel)]="materielModifier.marque" class="form-control" name="marque" placeholder="Marque du materiel" >
            </div>
            <div class="mb-3 col-6">
              <label>Numero de serie</label>
              <input type="text" [(ngModel)]="materielModifier.numeroSerie" class="form-control" name="numero" placeholder="Numero de Serie" >
            </div>
            <div class="mb-3 col-6">
              <label>Prix</label>
              <input type="text" [(ngModel)]="materielModifier.prix" class="form-control" name="prix" placeholder="Prix" >
            </div>
            <button type="button" (click)="updateMateriel()" class="btn btn-success" data-bs-dismiss="modal">Modifier</button>
            <button type="button" (click)="refresh()" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
