<section class="contact-page-section">
  <div class="container">
      <!-- <div class="sec-title">
          <div class="title">Contact Us</div>
        </div> -->
        <div class="inner-container">
          <div class="row clearfix">

              <!--Form Column-->
                <div class="form-column col-md-8 col-sm-12 col-xs-12">
                  <div class="inner-column">

                        <!--Contact Form-->
                        <div class="contact-form">
                            <form method="post" action="" id="contact-form">
                                <div class="row clearfix">
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="name" value="" placeholder="Name" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="email" name="email" value="" placeholder="Email" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="subject" value="" placeholder="Subject" required>
                                    </div>
                                    <div class="form-group col-md-6 col-sm-6 co-xs-12">
                                        <input type="text" name="phone" value="" placeholder="Phone" required>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                        <textarea name="message" placeholder="Massage"></textarea>
                                    </div>
                                    <div class="form-group col-md-12 col-sm-12 co-xs-12">
                                        <button type="submit" class="theme-btn btn-style-one"><mat-icon>send</mat-icon> Envoyer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <!--End Contact Form-->

                    </div>
                </div>

                <!--Info Column-->
                <div class="info-column col-md-4 col-sm-12 col-xs-12">
                  <div class="inner-column">
                    <h2><mat-icon>info</mat-icon> Contact Info</h2>
                        <ul class="list-info">
                          <li><mat-icon>maps_home_work</mat-icon> Adresse : BP.8 font de mer Safi</li>
                          <li><mat-icon>email</mat-icon> Email : t_elbaraka@marsamaroc.co.ma</li>
                          <li><mat-icon>web</mat-icon> WebSite : www.marsamaroc.co.ma</li>
                          <li><mat-icon>phone</mat-icon> Telephone : +212 5 24 46 23 90</li>
                          <li><mat-icon>fax</mat-icon> Fax : +212 5 24 46 48 28</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
