<div>
  <div id="slide">
    <ngb-carousel>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img src="./../../assets/images/slide1.jpg" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>Vos opérations entre les mains d'un expert</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img  src="./../../assets/images/slide2.jpg" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Ports et Termineaux</h3>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
          <img  src="./../../assets/images/slide3.jpg" alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>E-Services</h3>
        </div>
      </ng-template>
    </ngb-carousel>
    <div id="sousSlide">
      <a href="https://www.marsamaroc.co.ma/fr/strategie">
        <div>
          <img  src="./../../assets/images/sousSlide1.png" alt="Random third slide">
          <p class="p">Stratégie</p>
        </div>
      </a>
      <a href="https://www.marsamaroc.co.ma/fr/gouvernance-du-groupe">
        <div>
          <img  src="./../../assets/images/sousSlide2.png" alt="Random third slide">
          <p class="p">Gouvernance</p>
        </div>
      </a>
    </div>
  </div>
  <div id="noService">
    <div>
      <p id="noServiceTitre">
        Nos Services
      </p>
      <div id="service">
        <div class="sousService">
          <p class="pSousService">
            Services aux marchandises
          </p>
          <p class="pSousService">
            Services essentiels
          </p>
        </div>
        <div class="sousService">
          <p class="pSousService">
            Services aux navires
          </p>
          <p class="pSousService">
            Pilotage, remorquage, lamanage et availlement.
          </p>
        </div>
      </div>
    </div>
  </div>
  <p id="noServiceTitre">
    Chiffres Clés
  </p>
  <div id="chiffeCles">
    <a href="https://www.marsamaroc.co.ma/fr/rapports-esg">
      <div>
        <img  src="./../../assets/images/flex1.png" alt="Random third slide">
        <p class="p">Rapports ESG</p>
      </div>
    </a>
    <a href="https://www.marsamaroc.co.ma/fr/environnemental">
      <div>
        <img  src="./../../assets/images/flex2.png" alt="Random third slide">
        <p class="p">Environnemental</p>
      </div>
    </a>
    <a href="https://www.marsamaroc.co.ma/fr/strategie-rse">
      <div>
        <img  src="./../../assets/images/flex3.png" alt="Random third slide">
        <p class="p">Stratégie RSE</p>
      </div>
    </a>
    <a href="https://www.marsamaroc.co.ma/fr/social-societal">
      <div>
        <img  src="./../../assets/images/flex4.png" alt="Random third slide">
        <p class="p">Social & Sociétal</p>
      </div>
    </a>
  </div>
  <div id="portTermineaux">

  </div>
  <div id="noFiliales">

  </div>
  <div id="actualite">

  </div>
</div>

<!-- <app-footer></app-footer> -->
